@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --Azul-escuro: #001524ff;
    --ciano: #15616dff;
    --branco: #ffecd1ff;
    --laranja: #ff7d00ff;
    --marrom: #78290fff;
    --fonte-titulo:"Gruppo", sans-serif;
    --fonte-texto:"Poppins", sans-serif;
}

body{
    background-color: var(--Azul-escuro);
    color: var(--ciano);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal{
    background-color: var(--laranja);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--branco);
    font-family: var(--fonte-titulo);
}

button{
    background-color: var(--marrom);
    color: var(--branco);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
    margin: 10px auto;
}

button:hover{
    background-color: var(--ciano);
}
